*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 80px;
}

header.debug{
    background-color: lightsalmon;
    border: 1px solid;
    min-height: 50px;    
}

.container-debug{
    align-items: center;
    max-width: 900px;
    margin: 0 auto;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


ul{
    display: flex;
    list-style: none;
}
ul{
    text-align: center;
}

header-bottom{
    background-color: aqua;
    height: 400px;
   
}

.container-frog{
    margin: 0 auto;
    max-width: 1000px;
    padding: 30px;
    display: flex;
    height: 300px;
}
.immagine-rana{
    background-color: blue;
    width: 60%;  
}

.luogo{
    background-color: aliceblue;
    width: 40%;
  
}

.container-magic{
    margin: 0 auto;
    max-width: 1000px;
    padding: 30px;
    display: flex;
    height: 300px;
}
    
.facile{
    background-color: aliceblue;
    width: 40%;
   
}
.immagine-mago{
    background-color: blue;
    width: 60%;
  
}
.container-ciclop{
    margin: 0 auto;
    max-width: 1000px;
    padding: 30px;
    display: flex;
    height: 300px;
}
.immagine-book{
    background-color: blue;
    width: 60%;
}
.fandom{
    background-color: aliceblue;
    width: 40%;
}

.tecnologia{
    background-color: aquamarine;
    margin: 0 auto;
    max-width: 1000px;
    padding: 30px;
    display: flex;
    height: 300px;
}

.talk{
    background-color: rgb(84, 45, 191);
    margin: 35px auto;
    max-width: 1000px;
    display: flex;
    height: 300px;
    }

.pages{
    width: 30%;
    background-color: hsl(263, 55%, 41%);

}
.contact{
    width: 70%;
    background-color: bisque;
}


.us{
    background-color: bisque;
    margin: 0 auto;
    max-width: 1000px;
    padding: 30px;
    display: flex;
}